@import "bower_components/bootstrap/less/bootstrap";

@container-padding: 20px;

html, body {
    height: 100%; 
    padding: 0;
    margin: 0;
    overflow: hidden;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.chat-application {
    height: 100%;
    padding: @container-padding;

    .chat-application-contents {
        position: relative;
        height: 100%;
    }

    .chat-input-form {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        padding: @container-padding;

        .message-box {
            flex: 1;
            margin-right: 20px;
        }

        .submit-button {
            width: 100px;
            
        }
    }
}